<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
            <img src="./assets/img/1.jpg" style="border-radius: 100%;" class="rounded-5 d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
        <div class="col-lg-8">
            <h1 class="display-6 fw-bold lh-1 mb-3">This First Heading <span class="text-secondary">Will Catch Your
                    Eye</span></h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias adipisci itaque voluptatibus
                doloremque atque architecto, veniam voluptate qui dolorem enim, delectus reiciendis, exercitationem
                quidem.</p>
        </div>
    </div>
</div>