<!-- your html code here -->
<div class="album py-5">
    <div class="container">
        <h4>Portfolio</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus, ducimus omnis quam earum ipsum, incidunt ullam dolorem eum optio dignissimos repellat, quisquam sequi! Temporibus, pariatur?</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card border-0" >
            <img src="./assets/img/big-project-image.png" alt="">
            <div class="card-body">
                <h4 style="color: rgb(0, 132, 255);">Project Name</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <img src="./assets/img/big-project-image.png" alt="">
            <div class="card-body">
                <h4 style="color: rgb(0, 132, 255);">Project Name</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <img src="./assets/img/big-project-image.png" alt="">
            <div class="card-body">
                <h4 style="color: rgb(0, 132, 255);">Project Name</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

     
        
              </div>
            </div>
          </div>