<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
            <img src="./assets/img/2.jpg" style="border-radius: 100%;" class="rounded-5 d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="400" height="400" loading="lazy">
        </div>
        <div class="col-lg-8">
            <h1 class="display-6 fw-bold lh-1 mb-3">The Second Heading <span class="text-secondary"> Is Pretty Cool
                    Too.</span></h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, blanditiis soluta aliquam
                quidem saepe corporis cumque quam fuga commodi deleniti exercitationem ipsam.</p>
        </div>
    </div>
</div>